html {
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

// Header

.header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header__logo{
    font-size: 1.5rem;
    a{
      text-decoration: none;
      color: inherit;
    }
  }
}

// Menu

.menu{

  .menu__list{
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: cornflowerblue;
    li{
      list-style-type: none;
      a{
        text-decoration: none;
        color: white;
      }
    }
  }
}


@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
