@import "../utils/mixins.css";
@import "../utils/variables.css";

*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: 'Sarabun', sans-serif;
}

body{
  font-size: 18px;
}

a{
  color: inherit;
  text-decoration: none;
}

.container{
  padding: 2rem;
}

.main__content{
  padding: 5rem 8rem;
}

.weseley{background-image: url(../images/weseley-peter.jpeg)}
.dayan{background-image: url(../images/dayan-alan.jpg);}
.agemy{background-image: url(../images/agemy-steven.jpg)}

// --- NAVBAR ---

.header{
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  font-size: 16px;
  z-index: 800;

  .header__container{
    padding: 0.8rem 8rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header__left{
      display: flex;
      justify-content: center;
      align-items: center;

      .header__logo{
        margin-right: 60px;
        font-size: 25px;
        a:last-child {
          text-align: center;
          font-size: 22px;
        }
      }
    }
    .header__right{
      display: flex;
      flex-direction: column;
      .header__info{
        display: flex;
        align-items: center;
        font-size: 14px;
        .header__button{
          @include button();
          font-size: 14px;
        }
        .header__contact{
          margin: 0 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          div{
            font-weight: 600;
          }
          a{
            display: flex;
            align-items: center;
            color: cornflowerblue;
            text-decoration: none;
            transition: all 0.5s;
            img{
              width: 12px;
              height: 12px;
              margin-right: 5px;
            }
            &:hover{
              opacity: 0.5;
            }
          }
        }
      }
      .header__nav{
        display: flex;
        justify-content: flex-end;
        .nav__list{
          display: flex;
          list-style: none;
          font-size: 18px;
          .nav__link{
            margin: 12px 25px 0;
            padding: 0.3rem 0;
            border-bottom: solid 2px transparent;
            transition: all 0.4s;
            cursor: pointer;
            &:hover{
              border-bottom: solid 2px royalblue;
            }
            a {
              padding: 0.5rem 0;
            }
          }
        }
      }
    }
  }
}

// --- INDEX PAGE ---

.hero{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: -6rem;
  .hero__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .hero__title{
      font-size: 32px;
      margin: 2rem 0; 
      padding: 0 10rem;
      text-align: center;
      h1{
        font-weight: 400;
      }
    }
    .hero__image {
      width: 100%;
      height: 80vh;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    .hero__bio{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      position: relative;
      top: -6rem;

      .hero__doctor{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.6rem 3rem;
        
        .doctor__image{
          width: 210px;
          height: 210px;
          border: solid 5px white;
          border-radius: 50%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          margin-bottom: 10px;
        }
        .doctor__info{
          display: flex;
          flex-direction: column;
          align-items: center;
          p{
            text-transform: uppercase;
            font-size: 22px;
          }
          a{
            font-size: 16px;
            color: wheat;
            font-weight: 600;
            text-decoration: underline;
            margin-top: 5px;
            transition: all 0.3s;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}

.locations {
  display: flex;
  align-items: center;
  height: 80vh;
  position: relative;

  &:nth-child(2) {
    flex-direction: row-reverse;
    .location__box {
      left: 0;
      top: 30%;
      text-align: start;
      align-items: flex-start;
    }
  }
  .location__map {
    width: 80%;
    height: 80%;
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border: 0;
    }
  }
  .location__box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #f8f8f8;
    text-align: end;
    padding: 2rem;
    max-width: 40%;
    border-radius: 4px;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0px 2px 3px 1px lightgrey;
    & > * {
      margin-top: 5px;
    }
    h4{
      width: 60%;
      font-size: 1.85rem;
      margin-bottom: 15px;
      padding-bottom: 8px;
      font-weight: 400;
      border-bottom: solid 1px black;
    }
  }
}

.cta-img {
  background-image: url(../images/background.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  .cta {
    width: 100%;
    height: 65vh;
    background-color: #00000070;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    h3{
      font-size: 35px;
      font-weight: 400;
    }
    div {
      margin: 20px 0 30px;
    }
    .cta__button {
      @include button();
      font-size: 15px;
    }
  }
}

// --- DOCTORS ---

.doctors__section{

  .doctors__one{
    width: 100%;
    height: 100vh;
  }
}

// ---- DOCTOR PAGE LAYOUT----

.doctor__container{
  min-height: 100vh;
}
.doctor__breadcrumb{
  display: flex;
  list-style: none;
  margin: 30px 0;
  font-size: 14px;

  li+li::before{
    content: "|";
    margin: 0 10px;
  }
}
h1{
  font-size: 40px;
  margin: 1.2rem 0;
}


// --- ALL DOCTORS PAGE

.doctor__list {
    margin: 20px 0;
    ul{
      list-style: none;
      li {
        margin: 10px 0;
        font-weight: 600;
        text-decoration: underline;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
.doctor__contact {
  
  p {
    margin: 35px 0;
  }
}

// --- EACH DOCTORS PAGE ---

.doctor__info {

  .doctor__hero {
    width: 100%;
    height: 50vh;
    position: relative;
    margin-bottom: 2rem;

    .doctor__img {
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: lightgray;
      img {
        height: 100%;
      }
    }
    .doctor__name {
      position: absolute;
      bottom: 1rem;
      left: 2rem;
      font-weight: 300;
      color: white;
    }
  }
  .doctor__bio {

    p {
      margin-bottom: 20px;
    }
  }
}


// --- CONTACT FORM ---
.contant__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
  background-color: rgba(10, 10, 10, 0.55);
  overflow-y: scroll;

  .contact__container {
    background-color: white;
    padding: 1.2rem;
    width: 500px;
    height: 680px;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 2px;
    z-index: 905;
    overflow: scroll;
    position: relative;

    img {
      width: 18px;
      height: 18px;
      position: absolute;
      top: 9px;
      right: 9px;
      cursor: pointer;
    }

    h2 {
      margin: 1.2rem 0;
      font-size: 30px;
      font-weight: 400;
    }
    p {
      margin-bottom: 1rem;
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      .form__required {
        font-size: 14px;
        text-align: right;
        margin: 1.2rem 0;
        font-weight: 200;
        width: 100%;
      }
      input, textarea{
        border: 1px solid #89a2bf;
        border-radius: 0;
        color: #3b3b3b;
        font-family: lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
        height: 2.75rem;
        line-height: 2.75rem;
        margin: 0 0 .65rem;
        outline: 0;
        padding: 0 .75rem;
        width: 100%;
        transition: all .4s;
        resize: none;
        font-size: 18px;
      }
      textarea {
        height: 8rem;
        padding: 0.75rem;
        line-height: normal;
      }
    }
  }
}

// --- FOOTER ---

.footer{
  display: block;
  position: relative;
  background-color: #26292d;

  .footer__content{
    color: #868686;
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    .footer__header{
      color: #ffffff;
      text-decoration: underline;
      margin-bottom: 12px;
      font-weight: 500;
    }
    .footer__doctors{
      padding-top: 1rem;
      .footer__doctor{
        margin-bottom: 0.5rem;
        &:hover{
          color: #ffffff;
        }
      }
    }
    .footer__locations{
      padding-top: 1rem;
      .location__name{
        margin: 8px 0 10px;
      }
      a:hover{
        color: white;
      }
    }
  }
  .footer__bar{
    width: 100%;
    background-color: #181a1d;
    .footer__container{
      padding: 0.2rem 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;  
      color: #646464;

      .footer__nav{
        display: flex;
        list-style: none;
        .nav__link{
          margin: 0 16px;
          padding: 0.5rem 0;
          border-bottom: solid 2px transparent;
          cursor: pointer;
          &:hover, :focus{
            border-bottom: solid 2px royalblue;
          }
        }
      }
    }
  }
}